@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
  /* font-family: 'Roboto', sans-serif; */
  background-color: #FF9999;
  text-align: center;
}
h1{
  font-size:20px;
  font-family: serif;
  margin: 10px 50px;
}